[tool.poetry]
name = "bitbucket-pipeline-runner"
version = "0.2.2"
description = "Run a bitbucket pipeline locally"
authors = ["Mathieu Lemay <acidrain1@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/mathieu-lemay/pipeline-runner"
packages = [
    {include = "pipeline_runner"}
]

[tool.poetry.dependencies]
python = "^3.7"
PyYAML = "^5.4.1"
docker = "^5.0.2"
click = "^8.0.1"
python-slugify = "^5.0.2"
boto3 = "^1.16.63"
GitPython = "^3.1.12"
python-dotenv = "^0.19.0"
requests = "^2.25.1"
coloredlogs = "^15.0"
pyfzf = "^0.2.2"
pydantic = "^1.8.2"
appdirs = "^1.4.4"
cryptography = "^3.4.8"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pytest-mock = "^3.5.1"
tenacity = "^7.0.0"
coverage = "^5.5"

[tool.poetry.scripts]
pipeline-runner = 'pipeline_runner.cli:main'

[tool.black]
line-length = 120

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 120

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
