name: Tests

on:
  push:
    branches: ["*"]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v9

      - name: Setup poetry cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}

      - name: Install Dependencies
        run: |
          poetry install

      - name: Install Just
        uses: taiki-e/install-action@v2
        with:
          tool: just

      - name: Lint
        uses: pre-commit/action@v3.0.0

      - name: Tests
        run: |
          git checkout "${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
          just test
